{% extends 'news-detail.html' %}
{% load static %}
{% block body %}
<section id="about">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <div class="about-info">
                              <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Age,Gender and Emotion Detection System</h2>
                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <p>Object detection and tracking is an active research topic in the field of computer vision that makes efforts to detect, recognize, and track objects through a series of frames. It has been found that object detection and tracking in the video sequence is a challenging task and a very time-consuming process. Object detection is the first step in building a larger computer vision system.</p>
                                   <p>A facial recognition system is a technology capable of identifying or verifying a person from a ... Pioneers of automated face recognition include Woody Bledsoe, Helen Chan Wolf, and Charles Bisson. ... individuals with very pale skin are the same,” said Blake Senftner, a senior software engineer at CyberExtruder.</p>
                              </div>
                              <figure class="profile wow fadeInUp" data-wow-delay="1s">
<!--                                   <img src="{% static 'images/face6.jpeg' %}" class="img-responsive" alt="">-->
                                   <figcaption>
                                        <h3>Faces</h3>
                                        <p>OpenCv</p>
                                   </figcaption>
                              </figure>
                         </div>
                    </div>

               </div>
          </div>
     </section>
{% endblock %}