{% extends 'news-detail.html' %}
{% load static %}
{% block body %}
<section id="news-detail" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-8 col-sm-7">
                         <!-- NEWS THUMB -->
                         <div class="news-detail-thumb">
                              <div class="news-image">
                                   <img src="{% static 'images/face1.png' %}" class="img-responsive" alt="">
                              </div>
                              <h3>An Small Review On Face Detection System</h3>
                              <p>Face detection can be regarded as a specific case of object-class detection. In object-class detection, the task is to find the locations and sizes of all objects in an image that belong to a given class. Examples include upper torsos, pedestrians, and cars.</p>
                              <blockquote>Here we used the Haar Cascade for frontal face detection: </blockquote>
                              <p>Some recent digital cameras use face detection for autofocus.[5] Face detection is also useful for selecting regions of interest in photo slideshows that use a pan-and-scale Ken Burns effect.

Modern appliances also use smile detection to take a photograph at an appropriate time. </p>

                              <ul>
                                   <li>Leading Face Recognition Terminals Solution Provider For Vehicle Smart Parking System। </li>
                                   <li>For face recognition systems, see Facial recognition system.</li>
                                   <li> Automatic face detection with OpenCV</li>
                              </ul>

                              <p>Today I would like to share some ideas about how to devlop Age,Gender and Emotion Detection System by using real-time streaming via video camera.</p>
                              <div class="news-social-share">
                                   <h4>Share this article</h4>
                                        <a href="#" class="btn btn-primary"><i class="fa fa-facebook"></i>Facebook</a>
                                        <a href="#" class="btn btn-success"><i class="fa fa-twitter"></i>Twitter</a>
                                        <a href="#" class="btn btn-danger"><i class="fa fa-google-plus"></i>Google+</a>
                              </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-5">
                         <div class="news-sidebar">
                              <div class="news-author">
                                   <h4>About  My  Project</h4>
                                   <p> This article is about face detection. For face recognition systems, see Facial recognition system. For human face perception, see Face perception.</p></div>

<!--                              <div class="recent-post">-->
<!--                                   <h4>Using Library of Python</h4>-->

<!--                                        <div class="media">-->
<!--                                             <div class="media-object pull-left">-->
<!--                                                  <a href="#"><img src="{% static 'images/face2.png' %}" class="img-responsive" alt=""></a>-->
<!--                                             </div>-->
<!--                                             <div class="media-body">-->
<!--                                                  <h4 class="media-heading"><a href="#">Numpy process Numerical Value Like Array</a></h4>-->
<!--                                             </div>-->
<!--                                        </div>-->

<!--                                        <div class="media">-->
<!--                                             <div class="media-object pull-left">-->
<!--                                                  <a href="#"><img src="{% static 'images/face3.png' %}" class="img-responsive" alt=""></a>-->
<!--                                             </div>-->
<!--                                             <div class="media-body">-->
<!--                                                  <h4 class="media-heading"><a href="#">Using Opencv for CV2</a></h4>-->
<!--                                             </div>-->
<!--                                        </div>-->
<!--                              </div>-->


                              <div class="news-ads sidebar-ads">
                                   <h4>Sidebar Banner Ad</h4>
                              </div>

                              <div class="news-tags">
                                   <h4>Tags</h4>
                                        <li><a href="#">Training</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Signup</a></li>
                                        <li><a href="#">Logout</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#">About us</a></li>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>



     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div align="center" class="container">
               <div  class="row">

                    <div  class="col-md-12 col-sm-6">
                         <div class="footer-thumb">
                              <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                              <p></p>

                              <div class="contact-info">
                                   <p><i class="fa fa-phone"></i> 7634-854-564</p>
                                   <p><i class="fa fa-envelope-o"></i> <a href="#">Sumitemail@gmail.com</a></p>
                              </div>
                         </div>



                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-twitter"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-12 border-top">
                         <div class="col-md-4 col-sm-6">
                              <div class="copyright-text">
                                   <p>Copyright &copy; 2020 Age,Gender and Emotion

                                   | Design: Sumit</p>
                              </div>
                         </div>
                         <div class="col-md-6 col-sm-6">
                              <div class="footer-link">
                                   <a href="#">Train & Tests</a>
                                   <a href="#">Next Generation</a>
                                   <a href="#">Insurance Policy</a>
                                   <a href="#">Secure Careers</a>
                              </div>
                         </div>
                         <div class="col-md-2 col-sm-2 text-align-center">
                              <div class="angle-up-btn">
                                  <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

{% endblock %}