{% extends 'news-detail.html' %}
{% load static %}
{% block body %}
<section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <img src="{% static 'images/icon.png' %}" style="height:600px" class="img-responsive" alt="">
                    </div>

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form id="appointment-form" role="form" method="post" action="" enctype="multipart/form-data">
							 {% csrf_token %}

                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Login</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-6 col-sm-6">
                                        <label for="name">Username</label>
                                        <input type="text" class="form-control" id="name" name="uname" placeholder="UserName">
                                   </div>

<!--                                   <div class="col-md-6 col-sm-6">-->
<!--                                        <label for="email">Password</label>-->
<!--                                        <input type="password" class="form-control" id="email" name="pwd" placeholder="password">-->
<!--                                   </div>-->

                                    <div class="col-md-6 col-sm-6">
                                        <label for="email">Password</label>
                                        <input type="password" class="form-control" id="email" name="pwd" placeholder="password">
                                   </div>

<!--                                   <div class="col-md-6 col-sm-6">-->
<!--                                        <label for="select">Last Name</label>-->
<!--									   <input type="text" name="lname" placeholder="Enter Last name" class="form-control">-->

<!--                                   </div>-->

<!--                                   <div class="col-md-12 col-sm-12">-->
<!--                                        <label for="telephone">Email</label>-->
<!--                                        <input type="email" class="form-control" id="phone" name="email" placeholder="Enter Email Address">-->
<!--									   <label for="telephone">Phone Number</label>-->
<!--                                        <input type="number" class="form-control" id="phone" name="mobile" placeholder="Enter Phone">-->
<!--                                        <label for="Message">Full Address</label>-->
<!--									   <input type="text" name="address" placeholder="Enter Your Full Address" class="form-control">-->
<!--&lt;!&ndash;									   <label for="Message">Your Image</label>&ndash;&gt;-->
<!--&lt;!&ndash;									   <input type="file" name="image" value="Choose File" class="form-control">&ndash;&gt;-->
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Login</button>
                                   </div>

                        </form>
                    </div>

               </div>
          </div>
     </section>

{% endblock %}